<%= render "shared/header" %>

<div class="registration-main">
  <%= form_with(model: @user, url: new_user_registration_path, class: "registration-form") do |f| %>

    <div class="registration-title">新規登録</div>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="registration-field">
      <%= f.text_field :nickname, class:"registration-text", placeholder: "ニックネーム" %>
    </div>

    <div class="registration-field">
      <%= f.email_field :email, class:"registration-text", placeholder: "メールアドレス" %>
    </div>

    <div class="registration-field">
      <%= f.password_field :password, class:"registration-text", placeholder: "パスワード（6文字以上）"%>
    </div>

    <div class="registration-field">
      <%= f.password_field :password_confirmation, class:"registration-text", placeholder: "パスワード（再入力）" %>
    </div>

    <div class="registration-field">
      <%= f.text_field :last_name, class:"registration-text", placeholder: "名字" %>
    </div>

    <div class="registration-field">
      <%= f.text_field :first_name, class:"registration-text", placeholder: "名前" %>
    </div>

    <div class="registration-field">
      <%= f.text_field :last_name_kana, class:"registration-text", placeholder: "名字（カナ）" %>
    </div>

    <div class="registration-field">
      <%= f.text_field :first_name_kana,  class:"registration-text", placeholder: "名前（カナ）" %>
    </div>

    <div class="registration-action">
      <%= f.submit "新規登録", class:"registration-btn"%>
    </div>

  <% end %>
</div>

<%= render "devise/shared/links" %>

<%= render "shared/footer" %>
