<h1><%= @room.name %>コメント一覧ページ</h1>

<li><%= link_to "Room編集", edit_room_path(@room.id), class:"room-edit" %></li>

<li><%= link_to "Room削除", room_path(@room.id), method: :delete, class:"room-destroy" %></li>

<div class='character-contents'>
    <h2 class='title'>Character一覧</h2>
    <ul class='character-lists'>
        <% @characters.each do |character|%>
          <li class='list'>
            <%= link_to room_character_path(@room.id, character.id) do %> 
            <div class='character-name'>
                <%= character.name %>
            </div>
            <% end %> 
          </li>
        <% end %>
    </ul>
    <li><%= link_to "Character新規作成", new_room_character_path(@room.id), class:"character-new" %></li>
</div>