<header class='top-page-header'>
  <div class="top-title">
    <%= link_to '脳内会議', root_path, class: "home" %>
  </div>
  <div class="nav-lists">
    <% if user_signed_in? %>
      <li class="nav-user-nickname"><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
      <li class="nav-logout"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
    <% else %>
      <li class="nav-login"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li class="nav-sign-up"><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </div>
</header>