<%= render "shared/header" %>

<div class="main">
  <div class = "side-bar">
      <%= render "side_bar" %>
  </div>

  <div class="editcharacter-main">

    <%= form_with model:[@room, @character], class:"editcharacter-form", method: :patch, local: true do |f| %>

      <div class="editcharacter-title">Character編集</div>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="edit-characters">
        <div class="editcharacter-label">
          Character名
        </div>
        <%= f.text_area :name, class:"editcharacter-name", id:"character-name", placeholder:"Character名（必須 20文字まで)", maxlength:"20" %>
        <div class="editcharacter-label">
          性格
        </div>
        <%= f.text_area :personality, class:"editcharacter-personality", id:"character-personality", placeholder:"Characterの性格（必須 40文字まで)", maxlength:"40" %>
        <div class="editcharacter-label">
          表示の色
        </div>
        <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class:"editcharacter-color"}) %>
      </div>
      <div class="editcharacter-btn-contents">
        <%= f.submit "変更する" ,class:"editcharacter-btn" %>
        <%=link_to 'Character詳細ページへもどる', room_character_path(@room.id, @character.id), class:"editcharacter-back-btn" %>
      </div>

    <% end %>

  </div>

</div>

<%= render "shared/footer" %>