
<%= render "shared/header" %>

<div class="main">
  <div class = "side-bar">
      <%= render "side_bar" %>
  </div>

  <div class="newcharacter-main">

    <%= form_with model:[@room, @character], class:"newcharacter-form", local: true do |f| %>

      <div class="newcharacter-title">Character新規作成</div>
    
      <%= render 'shared/error_messages', model: f.object %>

      <div class="new-character">
        <div class="newcharacter-label">
          Character名
        </div>
        <%= f.text_area :name, class:"newcharacter-name", id:"character-name", placeholder:"Character名（必須 20文字まで)", maxlength:"20" %>
        <div class="newcharacter-label">
          性格
        </div>
        <%= f.text_area :personality, class:"newcharacter-personality", id:"character-personality", placeholder:"Characterの性格（必須 40文字まで)", maxlength:"40" %>
      </div>
      <div class="newcharacter-btn-contents">
        <%= f.submit "作成する" ,class:"newcharacter-btn" %>
        <%=link_to 'もどる', room_comments_path(@room.id), class:"newcharacter-back-btn" %>
      </div>

    <% end %>

  </div>

</div>

<%= render "shared/footer" %>