<%= render "shared/header" %>

<h1> Room新規作成ページ </h1>

<%= form_with model:@room, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="new-rooms">
    <div class="weight-bold-text">
      Room名
    </div>
    <%= f.text_area :name, class:"rooms-text", id:"room-name", placeholder:"Room名（必須 40文字まで)", maxlength:"40" %>
  </div>
  <div class="new-btn-contents">
    <%= f.submit "作成する" ,class:"new-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>

<% end %>

<%= render "shared/footer" %>