<%= render "shared/header" %>

<div class="newroom-main">

  <%= form_with model:@room, local: true, class:"newroom-form" do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="new-rooms">
      <div class="newroom-name">
        Room名
      </div>
      <%= f.text_field :name, class:"newroom-text", id:"room-name", placeholder:"Room名（必須 20文字まで)", maxlength:"20" %>
    </div>
    <div class="new-btn-contents">
      <%= f.submit "作成する" ,class:"new-btn" %>
      <%=link_to 'Room一覧へもどる', root_path, class:"back-btn" %>
    </div>

  <% end %>

</div>

<%= render "shared/footer" %>